
<footer class="mb-4 bottom-0 ">
    <div class="container">
      <hr />
      <div class="row">
        <div class="col-lg-6 col-12 f-text">
          @2024 Airbnb, Inc. . Privacy . Terms . Sitemap . Company details
        </div>

        <div class="col-lg-6 col-12">
          <span class="f-logos">
            <i class="fa-solid fa-globe"></i> English(IN)
            <!-- <i class="fa-solid fa-indian-rupee-sign"></i>INR -->
            <i class="fa-brands fa-instagram fa-lg"></i>
            <i class="fa-brands fa-facebook fa-lg"></i>
            <i class="fa-brands fa-twitter fa-lg"></i>
          </span>
        </div>
      </div>
    </div>
  </footer>
