<% layout("layouts/boilerplate.ejs") %>
<body>
  <%- include('../includes/header.ejs') %>
  <h4 class="mb-3 mt-3 text-center">
    Add new list by filling required details
  </h4>
  <div class="row">
    <div class="col-md-7 offset-2">
      <form action="/listings" method="POST" class="needs-validation"
      novalidate>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input required
            type="text"
            name="listing[title]"
            placeholder="title"
            class="form-control"
          /><br />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea required
            type="text"
            name="listing[description]"
            class="form-control"
            placeholder="description"
          ></textarea
          ><br />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image Link</label>
          <input required
            type="text"
            name="listing[image]"
            class="form-control"
            placeholder="image"
          /><br />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input required
              
              name="listing[price]"
              class="form-control"
              placeholder="price"
            /><br />
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input required
              type="text"
              name="listing[country]"
              class="form-control"
              placeholder="country"
            /><br />
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input required
            type="text"
            name="listing[location]"
            class="form-control"
            placeholder="location"
          /><br />
        </div>
        <button class="btn btn-dark">Submit</button>
      </form>
    </div>
  </div>
  <%- include('../includes/footer.ejs') %>
</body>
