<% layout("layouts/boilerplate.ejs") %>

<body>
    <h1 class="bg-red-500">Hi ks</h1>
    <form action="/listings" method="POST">
        <input type="text" name="listing[title]" placeholder="title"><br>
        <textarea type="text" name="listing[description]" placeholder="description"></textarea><br>
        <input type="text" name="listing[image]" placeholder="image"><br>
        <input type="number" name="listing[price]" placeholder="price"><br>
        <input type="text" name="listing[location]" placeholder="location"><br>
        <input type="text" name="listing[country]" placeholder="country"><br>
        <button>Submit</button>
    </form>
</body>
